<% artist = RSpotify::Artist.search(@artist).first %>
<div class="page-header">
  <h1><%= artist.name %></h1>
</div>


<% artist.top_tracks(:US).each do |track| %>
<ul><%= track.name %></ul>
<% end %>
